{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="Recipes">
    <meta name="description"
          content="Discover a variety of delicious food recipes from appetizers to desserts. Easy to follow instructions for every meal!">
    <meta name="keywords"
          content="recipes, food, cooking, easy recipes, appetizers, main courses, desserts, healthy meals">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicons/android-chrome-192x192.png' %}">
    <link rel="manifest" href="{% static 'img/favicons/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=ZCOOL+XiaoWei&display=swap"
          rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <!-- Date Time -->
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
    <!-- Swiper Js -->
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %} {% endblock %}
</head>
<body class="theme-golden">


<!--********************************
       Code Start From Here
******************************** -->

<!-- Scroll Smoother -->
<div class="has-smooth" id="has_smooth"></div>

<!--============================== Preloader ==============================-->
<div class="preloader ">
    <button class="th-btn preloaderCls">Cancel Preloader</button>
    <div class="preloader-inner">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!--============================== Product Lightbox ==============================-->
<div id="QuickView" class="white-popup mfp-hide">
    <div class="container bg-white">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-big-img transparent-img">
                    <div class="img"><img src="{% static 'img/product/product_1_5.png' %}" alt="Product Image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="product-about">
                    <p class="price">$20.85
                        <del>$25.99</del>
                    </p>
                    <h2 class="product-title">Salmon Beef Stack</h2>
                    <div class="product-rating">
                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong
                                class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                        </div>
                        <a href="shop-details.html" class="woocommerce-review-link">(<span class="count">4</span>
                            customer reviews)</a>
                    </div>
                    <p class="text">The registration fee covers access to all conference sessions, workshops, networking
                        events, exhibition areas, and conference materials. Please refer to the registration page for a
                        detailed breakdown of inclusions. You can make payments through our secure online
                        registration.</p>
                    <div class="mt-2 link-inherit">
                        <p>
                            <strong class="text-title me-3">Availability:</strong>
                            <span class="stock in-stock"><i class="far fa-check-square me-2 ms-1"></i>In Stock</span>
                        </p>
                    </div>
                    <div class="actions">
                        <div class="quantity">
                            <input type="number" class="qty-input" step="1" min="1" max="100" name="quantity" value="1"
                                   title="Qty">
                            <button class="quantity-plus qty-btn"><i class="far fa-chevron-up"></i></button>
                            <button class="quantity-minus qty-btn"><i class="far fa-chevron-down"></i></button>
                        </div>
                        <button class="th-btn">Add to Cart</button>
                        <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="product_meta">
                        <span class="sku_wrapper">SKU: <span class="sku">Salmon-Beef-Stack</span></span>
                        <span class="posted_in">Category: <a href="shop.html">Dinner Food</a></span>
                        <span>Tags: <a href="shop.html">Lunch</a><a href="shop.html">Dinner</a><a
                                href="shop.html">Food</a></span>
                    </div>
                </div>
            </div>
        </div>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
</div><!--==============================
    Sidemenu
============================== -->


{% include 'cooking/includes/header.html' %}


<div id="smooth-wrapper">
    <div id="smooth-content">
        {% include 'cooking/includes/messages.html' %}
        {% block content %} {% endblock %}
        {% include 'cooking/includes/footer.html' %}
    </div>
</div>

<!-- Scroll To Top -->
<div class="scroll-top">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
              style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
    </svg>
</div>

<!--============================== All Js File ============================== -->
<!-- Jquery -->
<script src="{% static 'js/vendor/jquery-3.7.1.min.js' %}"></script>
<!-- Swiper Js -->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Counter Up -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- Date Time -->
<script src="{% static 'js/jquery.datetimepicker.min.js' %}"></script>
<!-- Isotope Filter -->
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<!-- Gsap Animation -->
<script src="{% static 'js/gsap.min.js' %}"></script>
<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'js/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'js/ScrollSmoother.min.js' %}"></script>
<script src="{% static 'js/SplitText.min.js' %}"></script>

<!-- Main Js File -->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>