{% load static %}
<footer class="footer-wrapper footer-layout1" data-bg-src="{% static 'img/bg_imgs/footer.jpg' %}">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo">
                                <a href="{% url 'home' %}"><img src="{% static 'img/logo-footer.png' %}"
                                                                alt="Recipes"></a>
                            </div>
                            <p class="about-text">Discover a variety of delicious and easy-to-make recipes. Whether
                                you're a beginner or an expert in the kitchen, our site offers culinary ideas for every
                                occasion. Explore savory dishes, delightful desserts, and much more, tailored to your
                                tastes and preferences.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="{% url 'recipes' %}">Recipes</a></li>
                                <li>
                                    <a {% if '/suggestion/' in request.path %}class="active-menu"{% endif %}
                                       href="{% url 'suggestion' %}">Suggestion</a>
                                </li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Recipes Category</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="{% url 'recipes' %}?category_filter=15">Appetizer</a></li>
                                <li><a href="{% url 'recipes' %}?category_filter=17">Dessert</a></li>
                                <li><a href="{% url 'recipes' %}?category_filter=20">Soup</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row gx-1 gy-2 align-items-center">
                <div class="col-md-7">
                    <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a
                            href="{% url 'home' %}">Recipes</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>