{% extends 'cooking/includes/base.html' %}
{% load static %}

{% block content %}

    <div id="smooth-content">
        <!--============================== Breadcumb ============================== -->
        <div class="breadcumb-wrapper" data-bg-src="{% static 'img/bg_imgs/breadcumb-bg.jpg' %}">
            <div class="container">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title">Recipes</h1>
                    <ul class="breadcumb-menu">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Recipes</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--============================== recipes Area ==============================-->

        <section class="space-top space-extra-bottom">
            <div class="container">
                {% include 'cooking/includes/messages.html' %}

                <div class="th-sort-bar">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md">
                            <p class="woocommerce-result-count">
                                Showing {{ dishes.start_index }}–{{ dishes.end_index }} of {{ paginator.count }} results
                            </p>
                        </div>
                        <form method="get" class="col-md-auto row gap-1">
                            <select name="category_filter" class="woocommerce-ordering col-6"
                                    aria-label="Category Filter"
                                    onchange="this.form.submit();">
                                <option value="">Select Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}"
                                            {% if request.GET.category_filter == category.id|stringformat:"s" %}selected{% endif %}>
                                        {{ category.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <select name="cooking_time_filter" class="woocommerce-ordering col-6"
                                    aria-label="Filter by cooking time"
                                    onchange="this.form.submit();">
                                <option value="">Filter by cooking time</option>
                                <option value="0-30"
                                        {% if request.GET.cooking_time_filter == '0-30' %}selected{% endif %}>
                                    0–30 minutes
                                </option>
                                <option value="30-60"
                                        {% if request.GET.cooking_time_filter == '30-60' %}selected{% endif %}>
                                    30–60 minutes
                                </option>
                                <option value="60-120"
                                        {% if request.GET.cooking_time_filter == '60-120' %}selected{% endif %}>
                                    60–120 minutes
                                </option>
                                <option value="120+"
                                        {% if request.GET.cooking_time_filter == '120+' %}selected{% endif %}>
                                    More than 120 minutes
                                </option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="row gy-40">
                    {% for dish in dishes %}
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="th-product product-grid">
                                <div class="product-img transparent-img">
                                    <img src="{% static 'img/product/product_1_1.png' %}" alt="Product Image">
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title">
                                        <a href="{% url 'recipes-details' dish.pk %}">{{ dish.name }}</a>
                                    </h3>
                                    <span>Cooking Time: {{ dish.cooking_time }} minutes</span>
                                    <!-- Display categories -->
                                    <div class="categories">
                                        {% for category in dish.dishcategory_set.all %}
                                            <span class="category">{{ category.category.name }}</span>
                                            {% if not forloop.last %}, {% endif %}
                                        {% empty %}
                                            <span>No category</span>
                                        {% endfor %}
                                    </div>
                                    {% if dish.num_steps == 0 %}
                                        <span class="price">No steps available</span>  <!-- No steps available -->
                                    {% elif dish.num_steps == 1 %}
                                        <span class="price">1 Step</span>  <!-- Single step -->
                                    {% else %}
                                        <span class="price">{{ dish.num_steps }} Steps</span>  <!-- Multiple steps -->
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="th-pagination text-center pt-50">
                    <ul>
                        {% for num in dishes.paginator.page_range %}
                            <li>
                                {% if dishes.number == num %}
                                    <span style="background-color: var(--theme-color);">{{ num }}</span>
                                {% else %}
                                    <a href="?{% if request.GET.cooking_time_filter %}cooking_time_filter={{ request.GET.cooking_time_filter }}&{% endif %}{% if request.GET.category_filter %}category_filter={{ request.GET.category_filter }}&{% endif %}page={{ num }}">{{ num }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% if dishes.has_next %}
                            <li>
                                <a href="?{% if request.GET.cooking_time_filter %}cooking_time_filter={{ request.GET.cooking_time_filter }}&{% endif %}{% if request.GET.category_filter %}category_filter={{ request.GET.category_filter }}&{% endif %}page={{ dishes.next_page_number }}">
                                    <i class="far fa-arrow-right"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
