<!DOCTYPE html>
{% load static %}
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg"
      data-sidebar-image="none">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Manage recipes, ingredients, users, and cooking steps with our powerful admin dashboard template. Perfect for food-related platforms or apps.">
    <meta name="keywords"
          content="admin, recipes, ingredients, food management, cooking steps, users, dashboard, responsive, management, modern, HTML5, Bootstrap, CRM">
    <meta name="author" content="Your Company Name">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Recipe & Food Management Dashboard | Admin Template">
    <meta name="twitter:description"
          content="A comprehensive admin template for managing recipes, ingredients, users, and cooking steps. Ideal for food platforms or culinary apps.">
    <meta name="twitter:image:alt" content="Food Management Dashboard">

    <!-- Facebook -->
    <meta property="og:title" content="Recipe & Food Management Dashboard | Admin Template">
    <meta property="og:description"
          content="A complete admin template designed for managing recipes, ingredients, users, and cooking processes. Perfect for culinary platforms and food-related apps.">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <title>Recipe & Food Management Dashboard | Admin Template</title>


    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'dashboard/img/con.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">

    <!-- Font family -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">


    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/plugins/fontawesome/css/all.min.css' %}">

    <!-- Feather CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/plugins/feather/feather.css' %}">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-datetimepicker.min.css' %}">

    <!-- Datatables CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/plugins/datatables/datatables.min.css' %}">

    {% block style %}{% endblock %}

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">

    <!-- Layout JS -->
    <script src="{% static 'dashboard/js/layout.js' %}"></script>

</head>
<body>
<!-- Main Wrapper -->
<div class="main-wrapper">
    {% include 'dashboard/includes/header.html' %}
    {% include 'dashboard/includes/sidebar.html' %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            {% include 'cooking/includes/messages.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>


<script src="{% static 'dashboard/js/jquery-3.7.1.min.js' %}"></script>
{% block script %}{% endblock %}


<!-- Bootstrap Core JS -->
<script src="{% static 'dashboard/js/bootstrap.bundle.min.js' %}"></script>

<!-- Feather Icon JS -->
<script src="{% static 'dashboard/js/feather.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'dashboard/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Chart JS -->
<script src="{% static 'dashboard/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/apexchart/chart-data.js' %}"></script>

<!-- Theme Settings JS -->
<script src="{% static 'dashboard/js/theme-settings.js' %}"></script>
<script src="{% static 'dashboard/js/greedynav.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'dashboard/js/script.js' %}"></script>

</body>
</html>