{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <nav class="greedys sidebar-horizantal">
                <ul class="list-inline-item list-unstyled links">
                    <li class="menu-title"><span>Main</span></li>
                    <li class="submenu">
                        <a href="#"><i class="fe fe-home"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'admin' %}" class="active">Admin Dashboard</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fe fe-grid"></i> <span> Applications</span> <span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="chat.html">Chat</a></li>
                            <li><a href="calendar.html">Calendar</a></li>
                            <li><a href="inbox.html">Email</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /Settings -->
            </nav>
            <ul class="sidebar-vertical">
                <!-- Main -->
                <li class="menu-title"><span>Main</span></li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-home"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a {% if  request.path == '/admin/' %}class="active"{% endif %} href="{% url 'admin' %}">Admin
                            Dashboard</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-grid"></i> <span> Manage</span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a {% if  request.path == '/users/' %}class="active"{% endif %} href="{% url 'users' %}">Users</a>
                        </li>
                        <li><a {% if '/dishes/' in request.path  %}class="active"{% endif %} href="{% url 'dishes' %}">Dishes</a>
                        </li>
                        <li><a {% if '/categories/' in request.path  %}class="active"{% endif %} href="{% url 'categories' %}">Categories</a>
                        </li>
                        <li><a {% if '/ingredients/' in request.path  %}class="active"{% endif %} href="{% url 'ingredient_list' %}">Ingredients</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a  {% if  request.path == '/contact-messages/' %}class="active"{% endif %} href="{% url 'contact_messages' %}"><i class="fe fe-message-circle"></i> <span>Contact</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>