{% extends 'dashboard/includes/base.html' %}
{% load static %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="page-header">
                <div class="content-invoice-header d-flex flex-column">
                    <h5>{{ dish.name }} Details</h5>
                    <span class="text-body">Update :<a href="{% url 'update_dish' dish.id %}"
                                                              class="btn btn-link"> {{ dish.name }}</a></span>
                    <form action="{% url 'delete_dish' %}" method="POST"
                          style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ dish.id }}">
                        <button type="submit" class="btn btn-link text-danger p-0"
                                onclick="return confirm('Are you sure you want to delete this dish?');">
                            Delete {{ dish.name }}
                        </button>
                    </form>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="cards">
                        <div class="card-bod">
                            <div class="card-table">
                                <div class="card-bod">
                                    <div class="invoice-item invoice-item-date">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="text-start invoice-details">
                                                    Created
                                                    At<span>: </span><strong>{{ dish.created_at|date:'d M Y' }}</strong>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="text-start invoice-details">
                                                    Cooking Time<span>: </span><span
                                                        class="text-danger">{{ dish.cooking_time }} min</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Invoice Date -->
                                    {% if dish.image %}
                                        <div class="col-md-12">
                                            <div class="invoice-info">
                                                <img src="{{ dish.image.url }}" alt="">
                                            </div>
                                        </div>
                                    {% endif %}
                                    <!-- Invoice To -->
                                    <div class="invoice-item invoice-item-two border-0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="invoice-info">
                                                    <strong class="customer-text-one">Description<span>:</span></strong>
                                                    <p class="invoice-details-two">
                                                        {{ dish.description }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card timeline-card">
                        <div class="card-body">
                            <strong class="customer-text-one">Categories<span>:</span></strong>
                            <ul class="activity-feed">
                                {% for categorie in categories %}
                                    <li class="feed-item timeline-item pb-0">
                                        <span class="feed-text timeline-user">{{ categorie.name }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card timeline-card">
                        <div class="card-body">
                            <strong class="customer-text-one">Ingredient<span>:</span></strong>
                            <ul class="activity-feed">
                                {% for ingredient in ingredients %}
                                    <li class="feed-item timeline-item pb-0">
                                        <span class="feed-text timeline-user">{{ ingredient.name }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {% if steps %}
                <div class="row mt-3">
                    <h5 class="card-title mb-3">Steps:</h5>
                    <!-- Loop through existing steps -->
                    {% for step in steps %}
                        <div class="input-block mb-3 row">
                            <label for="step-{{ step.id }}"
                                   class="col-form-label col-lg-2">Step {{ forloop.counter }}</label>
                            <div class="col-lg-10">
                                    <textarea id="step-{{ step.id }}" rows="3" class="form-control"
                                              required
                                              disabled>{{ step.instruction }}</textarea>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}